{{ if isset .Site.Params "see_more_2" }}
{{ if .Site.Params.see_more_2.enable }}
<section class="bar background-image-fixed-2 no-mb color-white text-center">
    <div class="dark-mask"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-12">

                <h3 class="text-uppercase">{{ .Site.Params.see_more_2.title }}</h3>
                <p class="lead">{{ .Site.Params.see_more_2.subtitle }}</p>

            </div>

        </div>
    </div>
</section>
{{ end }}
{{ end }}
