h1, h2 {
    border-bottom: 2px solid #3b556e;
}
h1, h2, h3, h4 {
    color: #3b556e;
    font-family: "Fira Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

table th {
	background-color: #b2c2d2;
    color: #333333;
    border: 1px;
    font-size: 11pt;
    height: 15px;
    padding: 0px 5px 0px 5px;
    text-shadow: none;
}

p {
	word-wrap: break-word;
    overflow: hidden;
    color: #333;
    line-height: 1.7;
    font-family: 'Merriweather', "Fira Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}


.book.font-family-1 {
    font-family: 'Merriweather', "Fira Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/*Quote*/

.book .book-body .page-wrapper .page-inner section.normal blockquote {
    margin: 0 0 .85em;
    padding: 0 15px;
    opacity: 1; 
    border-left: 4px solid #3b556e;
}

blockquote {
    background: #b2c2d2;
    padding: 7px 20px 1px 20px;
    color: #000000;
}

blockquote p {
	font-style: italic;
}

/* Format code background */
.book .book-body .page-wrapper .page-inner section.normal pre {
    background: #eeeeee;
    padding: 5px 10px 5px 10px;
    margin: 0px 0px 5px 0px;
}

/* Format caption */
p.caption {
    color: #333333;
    background-color: #eeeeee;
    padding-left: 20px;
}

/* Format các vấn đề khác */
p code {
  white-space: inherit;
}
pre {
  word-break: normal;
  word-wrap: normal;
}
pre code {
  white-space: inherit;
}
p.flushright {
  text-align: right;
}


/* Format code */
.book .book-body .page-wrapper .page-inner section.normal code {
    padding: .2em;
    margin: 0;
    font-size: .85em;
	color: #3b556e;
    background-color: #f7f7f7;
}

/* Format mục lục*/

summary {
    font-family: "Fira Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
}



.book .book-summary {
    position: absolute;
    top: 0;
    left: -300px;
    bottom: 0;
    z-index: 1;
    width: 300px;
    color: #364149;
    background: #fafafa;
    border-right: 1px solid rgba(0,0,0,.07);
    -webkit-transition: left 250ms ease;
    -moz-transition: left 250ms ease;
    -o-transition: left 250ms ease;
    transition: left 250ms ease;
}

.book .book-summary{
    background: #3B556E;
}

.book .book-summary ul.summary li a {
    padding: 5px 5px 5px 5px;
    color: #ddd;
}

.book .book-summary ul.summary li a:hover {
    background-color: #aaaaaa;
    color: #3b556e;
}

.book .book-summary ul.summary li.active>a {
    color: #edb621;
}


.book .book-summary ul.summary li a, .book .book-summary ul.summary li span {
    display: block;
    padding: 10px 15px;
    border-bottom: none;
    color: #fafafa;
    background: 0 0;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    position: relative;
}